http://127.0.0.1:3128 {
  log / stdout "{combined}"
  forwardproxy {
      basicauth chrome onAuthEntered
      ports 80 443
      hide_via
      response_timeout 30
      dial_timeout     30
      acl {
        allow     all
        deny      all # unreachable rule, remaining requests are matched by `allow all` above
      }
  }
}
